footer[role="contentinfo"] {
    padding: .625em 0 1.25em;

    p {
        margin: 0;
        font-family: $header-font-family;
        font-size: 1.4rem;
    }

    .site-footer__bottom .container {
        @include bp(tablet) {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }

}
