/*
==========================================================================
Module Styles
==========================================================================
*/

// Global Styles

.module {
	padding: 1.25em;

	@include bp(tablet) {
		padding: 2.5em;
	}

	@include bp(desktop) {
		padding: 2.5em 5em;
	}

	@include bp(desktop-xl) {
		padding: 5rem;
	}
}

.module__content {
	padding: 1.25em;

	@include bp(tablet) {
		padding: 2.5em;
	}

	@include bp(desktop) {
		padding: 2.5em 5em;
	}

	@include bp(desktop-xl) {
		padding: 5rem;
	}
}

// Individual Module Styles

.module__hero {
	position: relative;
	overflow: hidden;
	text-align: center;

	@include bp(desktop) {
		text-align: left;
	}

	.row {
		height: 400px;
		justify-content: center;

		@include bp(desktop) {
			justify-content: flex-start;
			height: 600px;
		}

		@include bp(desktop-xl) {
			height: 800px;
		}

	}

	&__content {
		z-index: 2;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		@include animate(1s, 0, fadeInDown);
	}

	p {
		@include animate(1s, 500ms, fadeIn);
		font-size: 2.2rem;
	}

	button {
		@include animate(1s, 1s, fadeIn);
	}
}

.module__panel {
	position: relative;
}

.module__image-text {
	padding: 0;

	.module__image {
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include bp(tablet) {
			width: 50%;
		}
	}

	.module__content {
		width: 100%;
		max-width: 75rem;
	    margin: 0 auto;

		@include bp(tablet) {
			width: 50%;
		}
	}

	.container {
		position: relative;
		overflow: hidden;
		margin: 1.25em auto;

		@include bp(tablet) {
			margin: 2.5em auto;
		}

		@include bp(desktop) {
			margin: 2.5em auto;
		}

		@include bp(desktop-xl) {
			margin: 5rem auto;
		}

		.module__image {
			position: relative;
			width: 100%;
			order: 1;
			z-index: 1;

			@include bp(tablet) {
				width: 50%;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.module__content {
			position: relative;
			width: 100%;
			order: 2;
			z-index: 1;

			@include bp(tablet) {
				width: 50%;
			}
		}
	}

	&.flipped .module__image {
		@include bp(tablet) {
			order: 2;
			left: initial;
			right: 0;
		}
	}

	&.flipped .module__content {
		padding-left: 0;
		margin-left: 0;

		@include bp(tablet) {
			order: 1;
		}
	}

}

.module__single-text {
	p {
		font-size: 2rem;
		text-align: center;
	}
}

.module__double-text {
	.embed {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;

		iframe, object,
		video, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.module__news {
	&__posts__post {
		position: relative;
		margin-bottom: 3rem;
		transition: 300ms $cubic;
		text-decoration: none;
		padding: 0;
		width: calc(50% - 2rem);
		margin-right: 3rem;

		&:nth-child(2n) {
			margin-right: 0;
		}

		@include bp(tablet) {
			width: calc(33.333% - 2rem);
			margin-right: 3rem;

			&:nth-child(2n) {
				margin-right: 3rem;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		&:hover {
			transform: translateY(-5px);
		}

		h4 {
			margin-bottom: 1rem;
		}

		.post-content {
			padding: 2rem;
		}
	}
}

.module__grid {
	position: relative;

	&--content {
		padding: 1.25em;

		@include bp(tablet) {
			padding: 2.5em;
		}

		@include bp(desktop) {
			padding: 2.5em 5em;
		}

		@include bp(desktop-xl) {
			padding: 5rem;
		}

		.grid .column {
			position: relative;
			padding: 4rem;
			margin-bottom: 3rem;
			transition: 300ms $cubic;

			img {
				width: 60px;
				height: auto;

				.home &, .brands & {
					width: initial;
				}
			}

			&:hover {
				transform: translateY(-5px);
			}
		}
	}

	&--category {
		padding: 0;
		text-align: center;

		@include bp(tablet) {
			text-align: left;
		}

		.column {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			height: 300px;
			padding: 0 8rem;

			@include bp(desktop-xl) {
				height: calc(30vh - 125px);
			}
		}

		.module__grid__image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.module__grid__content {
			position: relative;
			z-index: 2;

			a {
				font-weight: 700;
				text-decoration: none;
				transition: 300ms $cubic;

				&:hover {
					color: $primary;
				}
			}
		}
	}
}

.module__breadcrumbs {
	border-top: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;;
	padding: 0;

	p {
		text-align: center;

		@include bp(tablet) {
			text-align: left;
		}
	}
}

.module__testimonials {

	h4 {
		font-size: 2.6rem;
		font-weight: 300;
		max-width: 600px;
	}

	.testimonial {
		padding: 4rem;

		@include bp(desktop) {
			display: flex;
			justify-content: space-between;
		}

		@include bp(desktop) {
			padding: 8rem;
		}

		&__meta {
			margin-right: 2rem;
			margin-bottom: 2rem;
			text-align: center;

			@include bp(desktop) {
				text-align: left;
			}

			.author {
				display: block;
				font-weight: 700;
			}

			.company {
				color: #7a7a7a;
			}

		}

		&__content {
			text-align: center;

			@include bp(desktop) {
				width: calc(100% - 220px);
				text-align: left;
			}

			span {
				display: block;
			}

			p {
				margin: 0;
			}
		}
	}
}

.module__contact {
	.contact {
		margin: 0;
		padding: 0;

		li {
			padding: 0;

			&:before {
				display: none;
			}
		}
	}

	.contact__form {
		padding: 4rem;
	}
}
