nav.nav-primary {
	display: none;

	@include bp(tablet) {
		display: block;
		@include animate(1s, 600ms, fadeInDown);
	}

	// Top Level

	ul {
		margin: 0; padding: 0;
		list-style-type: none;
		text-align: right;

		li {
			display: inline-block;
			position: relative;
			padding-left: 0;

			&:after {
				display: inline-block;
				content: "/";
				margin-left: 2rem;
				margin-right: 2rem;
			}

			&:last-child:after {
				display: none;
			}

			&:before {
				display: none;
			}

			&:hover {
				ul {
					opacity: 1;
					visibility: visible;
					transition: .3s ease-in-out;
				}
			}

			a {
				text-decoration: none;
				font-family: $header-font-family;
				transition: .3s ease-in-out;

				&:hover {
					color: $secondary;
					transition: .3s ease-in-out;
				}
			}
		}
	}

	// Second Level

	ul ul {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		width: 900px;
		top: 3.5em;
		left: 50%;
		padding: 2.5em;
		transform: translateX(-50%);
		text-align: left;
		background: $primary;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		z-index: 99999;
		transition: .3s ease-in-out;
		column-count: 3;
		@include rounded;

		li {
			display: block;
			padding: 1.25em 0;
			margin-right: 0;

			a {

				&:before {
					display: none;
				}
			}
		}
	}
}

nav.nav-mobile {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	z-index: 100;

	@include bp(tablet) {
		display: none;
	}

	&.mobile-menu-active .menu-primary-menu-container > ul {
		display: block;
	}

	// Top Level

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;

		li {
			width: 100%;
			text-align: center;
			padding-left: 0;

			&.button {
				text-transform: none;
				padding: 0;
				margin: 0 0 1em;
			}

			&:before {
				display: none;
			}

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) a {
					.mobile-menu-active & {
						animation-delay: (0.1s * $i);
					}
				}
			}

			a {
				padding: .325em;
				width: 100%;
				height: 100%;
				color: $light;
				font-size: 4rem;
				font-weight: bold;
				text-align: left;
				text-decoration: none;

				.mobile-menu-active & {
					@include animate(1s, 1s, fadeInDown);
				}
			}
		}
	}

	// Second Level

	ul ul {
		display: none;
		margin: 0;

		li {
			&:first-child {
				border-top: 1px solid darken($light, 15%);
			}
			&:last-child {
				border-bottom: none;
			}

			a {
				font-weight: normal;
				padding-left: 1.75em;
			}
		}
	}

	ul ul ul {
		margin: 0;

		li a {
			padding-left: 2.25em;
			font-size: 1.4rem;
		}
	}
}

.mobile-trigger {
	display: block;
	position: absolute;
	width: 40px;
	height: 20px;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
	transition: 600ms $cubic;

	@include bp(tablet) {
		display: none;
	}

	&:hover {
		transform: scale(1.05);
	}

	span {

		&, &::before, &::after {
			transition: 300ms background $cubic, 300ms top $cubic 200ms, 200ms transform $cubic;
			position: absolute;
			background: $dark;
			margin: auto;
			width: 100%;
			height: 2px;
			content: '';
			top: 50%;
			left: 0;
		}

		&::before {
			top: -8px;
		}

		&::after {
			top: 8px;
		}

		&::before,
		&::after {
			transform: rotate(0deg);
		}

		&.mobile-menu-active {
			background: 0;

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
				width: 100%;
			}

			&::before, &::after {
				top: 0;
				background: $lightest;
			}

			&, &::before, &::after {
				transition: 300ms background $cubic 200ms, 300ms top $cubic, 300ms transform $cubic 300ms;
			}
		}
	}
}
