.blog{
	.no-results, .not-found {

		.page-content{
			padding: 1.25em 0;

			@include bp(medium) {
				padding: 4em 0;
			}

			p {
				text-align :center;
				margin-bottom: 2.5em;
			}
		}

		label {
			span {
				display: none;
			}
		}

		form {
			width: 100%;
			padding: 0; margin: 0;
		}

		input[type="search"] {
			display: block;
			float: left;
			width: 70%;
			padding: 1.25em;
			background: darken($light, 5%);
			border: none;
			border-radius: 4px 0 0 4px;
			box-sizing: border-box;
		}

		input[type="submit"] {
			display: block;
			float: right;
			margin: 0;
			width: 30%;
			padding: 1.55em 0;
			border: none;
			border-radius: 0 4px 4px 0;
			box-sizing: border-box;
		}
	}
}