// Custom Button Styles

.button {
    display: inline-block;
    margin: .625em 0;
    background: $primary;
    color: $light;
    line-height: 1.7;
    font-weight: 300;
    letter-spacing: 1px;
    padding: .625em 1.25em;
	border-radius: 4px;
    font-family: $header-font-family;
    border: none;
    transition: 600ms $cubic;
    text-decoration: none;
    cursor: pointer;

	&:after {
		content: "";
		position: relative;
		top: 4px;
		margin-left: 1rem;
		background: url('../../assets/images/arrow.svg') no-repeat center center / 100%;
		display: inline-block;
		width: 20px;
		height: 20px;
		transition: 600ms $cubic;
	}

    &:hover {
		color: $light;
		background-position: 115% -5px;

		&:after {
			transform: translateX(5px);
		}
    }
}
