// -------------------------------------------------------------
// Global styles
// -------------------------------------------------------------

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background: $lightest;
	font-size: 50%;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	@include bp(tablet) {
		font-size: 57.25%;
	}

	@include bp(desktop) {
		font-size: 62.5%;
	}
}

body {
	line-height: $baseline;
	font-size: $global-font-size;
	color: $text-color;
	font-family: $global-font-family;
	font-weight: $global-weight-normal;
	overflow-x: hidden;

	&.mobile-menu-active {
		overflow: hidden;
		max-height: 100vh;
	}

    &.mobile-menu-active .offcanvas {
		opacity: 1;
		visibility: visible;
		transition: all 60m0s 0s $cubic
	}
}

.offcanvas {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $primary;
	display: flex;
	max-height: 100vh;
	z-index: 100;
	transition: all 600ms 0s $cubic;
	opacity: 0;
	visibility: hidden;
}

.overlay {
	display: none;

	@include bp(tablet) {
		display: block;
		position: absolute;
		background: rgba($dark, .3);
		top: 0; right: 0; bottom: 0; left: 0;
		width: 100%; height: 100vh;
		z-index: 1;
	}
}

.embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;

	iframe, object,
	video, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#legacy {
	display: none;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
	#legacy {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background: $dark;
		width: 100%;
		height: 50px;
		z-index: 999999;

		p, a {
			color: $light;
		}
	}
}
