h1,h2,h3,h4,h5,h6 {
    font-family: $header-font-family;
    line-height: $header-line-height;
    margin-bottom: $baseline;
    margin-top: 0;
	font-weight: 300;
	color: $dark;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

p {
    color: $text-color;
    font-family: $global-font-family;
	font-weight: $global-weight-normal;
	line-height: $baseline;
	margin-bottom: $baseline;
}

a {
    line-height: inherit;
    color:$primary;

    &:active {
        color:$primary;
    }

    &:focus {
        color:$primary;
    }

    &:hover {
        color:darken($primary, 10%);
    }
}

// Blockquotes
blockquote {
	position: relative;
    margin: 0 0 $paragraph-margin-bottom;
    padding: 4rem;
	background: $light;

    &:before {
		position: absolute;
		top: -2rem;
		left: 1rem;
        content: open-quote;
        color: $light-grey;
		font-size: 15rem;
		z-index: 0;
    }
    p {
        line-height: 1.5;
		position: relative;
		z-index: 1;
    }
}

// Citations
cite {
    display: block;
    font-size: $cite-font-size;
    color: $cite-color;

    &:before {
        content: $cite-pseudo-content;
    }
}

// Abbreviations
abbr {
    border-bottom: $abbr-underline;
    color: $text-color;
    cursor: help;
}

strong {
	font-weight: 700;
}

// Figures
figure {
    margin: 0;
}

// Horizontal rule
hr {
    clear: both;

    max-width: 100%;
    height: 0;
    margin: $global-margin;

    border-top: 0;
    border-right: 0;
    border-bottom:1px;
    border-left: 0;
}
